<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
  <add name="acae" providerName="System.Data.SqlClient" connectionString="Data Source=LAPTOP\SQLEXPRESS;Initial Catalog=acae;Persist Security Info=True;User ID=sa;Password=zorrof@x22" />
  </connectionStrings>
</configuration>

